<html>
  <head>
    <title>Seatsurfing Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("de.seatsurfing.confluence.seatsurfing:seatsurfing-admin-ui-plugin-resources")
  </head>
  <body>
    <form id="admin" class="aui">
        <div class="field-group">
            <label for="name">Booking UI URL:</label>
            <input type="text" id="bookingUiUrl" name="bookingUiUrl" class="text">
        </div>
        <div class="field-group">
            <label for="time">Shared Secret:</label>
            <input type="text" id="sharedSecret" name="sharedSecret" class="text">
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button">
        </div>
    </form>
  </body>
</html>